#container {
    width: 100%;
    max-width: 1300px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin : 0 0px
}

main {
    padding: 0px 50px;
}

/* CSS header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 50px;
}

#logo {
    display: flex;
    align-items: center;
}

#logoImg {
    height: 45px;
    width: 100px;
    margin-left: 5px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 40px 40px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#compte {
    font-weight: bold;
    color: #0065FC;
}

/* CSS Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer div {
    width: 100%;
}

footer h3 {
    padding-left: 50px;
    text-align: left;
    font-size: 1.2em;
    font-weight: 800;
}

footer li {
    list-style: none;
    padding: 5px 10px;
}

/* CSS recherche */

#titre h1 {
    font-size: 1.3em;
    font-weight: 800;
    margin: 0px 0px 0px 5px
}

#titre p {
    margin: 10px 0px 20px 5px;
}

#info {
    display: flex;
    align-items: center;
}

#info p {
    margin-left: 10px;
}

#info i {
    color: #0065FC;
    padding: 6px 10px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    font-size: 0.7em;
    margin-left: 5px;
}

#saisie {
    display: flex;
}

#saisie button {
    padding: 12px;
    color: white;
    background:#0065FC;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0 15px 15px 0;
    border: #0065FC solid;
    cursor: pointer;
}

#saisie i {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-size: 1.1em;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#saisie input {
    font-size: 1em;
    font-weight: 700;
    padding: 12px;
    border: none;
}

#saisie form {
    border: 1px #F2F2F2 solid;
    border-radius: 0 15px 15px 0;
}

/* CSS Filtres */

#filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
}

#filtres h2 {
    font-size: 1.1em;
    margin-right: 20px;
    margin-left: 5px;
    font-weight: 800;
}

#filtres a {
    color: black;
    font-weight: 800;
    padding: 10px 15px 10px 12px;
    text-decoration: none;
}

#filtres a:hover {
    background-color: #DEEBFF;
    border-radius: 50px;
}


#filtres div {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
}

#filtres div:hover {
    background-color: #DEEBFF;
}

#filtres i {
    float: left;
    padding: 13px 13px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
}

#famille i {
    padding: 13px 15px;
}

/* CSS Activités */

#activites {
    display: flex;
    margin-bottom: 50px;
}

.activites div {
    width: 300px;
    height: 400px;
}

.activites h3 {
    height: 5%;
    color: black;
    font-size: 1em;
    font-weight: 800;
    border-radius: 0 0 20px 20px;
    border: 0px solid;
    margin: 0;
    padding: 15px;
    box-shadow: 1px 1px 9px 0px lightgray
}

main h2 {
    font-size: 1.3em;
    font-weight: 800;
}

.activites a {
    text-decoration: none;
}

.activites article {
    border-radius: 40px 40px 0 0;
}

.actun {
    margin-right: 20px;
}

.actdeux, .acttrois {
    margin-left: 20px;
    margin-right: 20px;
}

.actquatre {
    margin-left: 20px;
}

#vieux {
    background-image: url(images/vieux-port.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    zoom: 0.4;
    border-radius: 50px 50px 0 0;
    box-shadow: 0px 0px 9px 0px lightgray
}

#pomegues {
    background-image: url(images/pomegues.jpg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    height: 42%;
    zoom: 0.8;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 9px 0px lightgray
}

#pomegues ~ h3 {
    margin-bottom: 40px;
}

#frioul {
    background-image: url(images/frioul.jpg);
    background-position: 40% 30%;
    background-repeat: no-repeat;
    height: 25%;
    zoom: 0.5;
    border-radius: 40px 40px 0 0;
    box-shadow: 0px 0px 9px 0px lightgray
}


#calanques {
    background-image: url(images/calanques.jpg);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    height: 90%;
    zoom: 0.6;
    box-shadow: 0px 0px 9px 0px lightgray
}

#garde {
    background-image: url(images/notre-dame-garde.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 32%;
    zoom: 0.5;
    box-shadow: 0px 0px 9px 0px lightgray
}

#garde ~ h3 {
    margin-bottom: 40px;
}

#longchamp {
    background-image: url(images/longchamp.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    height: 35%;
    zoom: 0.3;
    border-radius: 70px 70px 0 0;
    box-shadow: 0px 0px 9px 0px lightgray
}

/* CSS Hébergements */

#resultat {
    display: flex;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#hebergements {
    background-color: #F2F2F2;
    width: 820px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px 20px;
}

#hebergements h2 {
    margin: 30px 0px 5px 10px;
    font-weight: 800;
}

#annonces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#annonces h3 {
    margin: 5px 0px 0px 10px;
    font-size: 0.9em;
    font-weight: 800;
}

#annonces p {
    margin: 5px 0px 0px 10px;
    font-size: 0.8em;
}

.star {
    margin: 5px 0px 0px 10px;
    display: flex;
}

#annonces i {
    font-size: 0.7em;
    color: #0065FC;
}

#annonces article {
    border-radius: 20px 20px 0px 0px;
    height: 63%;
}

#resultat a {
    text-decoration: none;
    background-color: white;
    color: black;
    border: 4px solid white;
    box-shadow: 0px 0px 9px 0px lightgray
}

#hebergements a {   
    border-radius: 20px;
    width: 220px;
    height: 180px;
    margin: 15px 0px;
}

#cannebiere {
    background-image: url(images/cannebiere.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#port {
    background-image: url(images/hotelport.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mouettes {
    background-image: url(images/mouettes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mer {
    background-image: url(images/hotel-mer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#panier {
    background-image: url(images/Lepanier.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#amina {
    background-image: url(images/Amina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hebergements h4 {
    font-size: 1.1em;
    font-weight: 800;
    margin: 25px 0px 40px 15px;
}

/* CSS Populaires */

#populaires {
    background-color: #F2F2F2;
    width: 380px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 5px 25px;
}

#ouvrir {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ouvrir i {
    font-size: 1.5em;
    margin-right: 40px;
    margin-top: 25px;
}

#populaires h2 {
    margin: 30px 0px 5px 5px;
    font-size: 1.2em;
    font-weight: 800;
}

#best {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#populaires a {   
    border-radius: 20px;
    width: 330px;
    height: 130px;
    margin: 15px 0px;
}

#best h3 {
    margin: 5px 0px 0px 10px;
    font-size: 0.9em;
    font-weight: 800;
}

#best p {
    margin: 5px 0px 45px 10px;
    font-size: 0.8em;
}

#best i {
    font-size: 0.7em;
    color: #0065FC;
}

#best a {
    display: flex;
}

#best article {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
}

.details {
    width: 55%;
    padding: 5px 25px 0px 5px;
}

#soleil {
    background-image: url(images/soleil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#chambres {
    background-image: url(images/chambres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bleu {
    background-image: url(images/bleu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}