#container {
    width: 100%;
    max-width: 1400px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin : 0 0px
}

/* CSS header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
}

#logo {
    display: flex;
    align-items: center;
}

#logoImg {
    height: 45px;
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 40px 40px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#compte {
    font-weight: bold;
    color: #0065FC;
}

/* CSS Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer div {
    width: 100%;
}

footer h2 {
    padding-left: 50px;
    text-align: left;
    font-size: 1.2em;
}

footer li {
    list-style: none;
    padding: 10px 10px;
}
